<% if feature?(:machine_learning) && Setting["machine_learning.summary_comments"] %>
  <% if @ml_summary_comments&.body.present? %>
    <div class="row column margin-bottom">
      <p>
        <strong><%= t("machine_learning.summary_comments") %></strong>
        <br>
        <span class="help-text"><%= t("machine_learning.summary_comments_info_text") %></span>
      </p>

      <p><%= @ml_summary_comments.body %></p>
      <hr>
    </div>
  <% end %>
<% end %>
